Cleanup of links in HttpException derived classes

The links in comments in these classes should be brought up to date with both PHPDoc and HTTP specs.

For example:
`@link http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7`
should be replaced with
`@see https://tools.ietf.org/html/rfc7231#section-6.5.6` 

Of course the similar cleanup could be done in other classes too but this will be a good start.

@samdark
https://github.com/yiisoft/yii2/commit/d38908fc13d365f4b0d20bd214a7e54319bca689 - wow, what was that?

FYI the old HTTP spec - RFC2616 - has been obsoleted and replaced by RFC7230-RFC7235 for 3 years now. So both RFC and section numbers are completely different now.

Also, you didn't replace `@link` with `@see` (`@link` have also been deprecated in favor of `@see` in PHPDoc: https://github.com/php-fig/fig-standards/blob/master/proposed/phpdoc.md#710-link-deprecated).

Would you please add a pull request for these changes? Thanks.

Maybe later, you should reopen the issue for now.