I wish to have such url: http://mysite.com/myaction/something/else/here. It looks like it is not compromising RFC at all.

I'm trying this configuration:

```php
'enablePrettyUrl' => true,
'showScriptName' => false,
'rules' => [
	'myaction/<path:(.*)>' => 'mysite/myaction'
],
```

Application accepts it correctly. But if I use this code:

```php
Url::current([ "path" => "something/else/here" ]);
```

it gives me http://mysite.com/myaction%2Fsomething%2Felse%2Fhere. Is there any way to avoid url encoding for parameter?


You can compose your own Rule class.

Hm, that's true)

@kavolorn 
You can set the param ```encodeParams``` to ```false```

```
[
  'pattern' => 'myaction/<path:(.*)>',
  'route' => 'mysite/myaction',
  'encodeParams' => false
],
```

Why now it is not possible to set 'encodeParams' globally, for example, in 'urlManager'? I think, it can be useful.

I have the following URL for which Yii returns a 404 error:

Quianxe:  "Basically, slashes in query string should be encoded according to RFC protocol. So, yes, although it looks ugly, we have to take it."

No, we do not.  You have done this solely due to a problem somebody was having with Facebook.

Not even Google encodes URLs.......


See https://github.com/yiisoft/yii2/issues/3656#issuecomment-341172034

Pleased don't rawurldecode your entire URL. This is quite likely to cause issues.

I've created this override Url helper to solve this issue for our sites, together with a justification for why NOT URL encoding the forward slash in the `r` parameter not only _allowed_ by the RFC but fully proper and _preferred_.

Blog post: https://isaac.metasushi.net/entry/31/custom-yii2-url-helper-class-to-handle-forward-slashes-more-naturally

Class:
```
<?php

/**
 * Overrides `BaseUrl::to` from Yii's `yii\helpers`.
 *
 * This modification specifically applies to the 'r' parameter in the URL query,
 * changing its '%2F' encoding to an un-encoded forward slash ('/').
 *
 * According to RFC 3986 (Section 2.2), while certain characters are "reserved", use
 * of these characters within particular URI components is to be defined by the 
 * implementing application.
 *
 * Therefore, an un-encoded forward slash ('/'), usually seen as a reserved 
 * character, can be used in this specific context as a subcomponent delimiter within
 * the 'r' parameter.
 *
 * This allows the 'r' parameter to define a path in the 'controller/action' format 
 * more naturally for human users -- as of this writing, still the majority audience
 * for most web applications.
 *
 * By doing so, URLs generated by Yii2 become more readable, follow common web 
 * conventions and effectively improve the overall usability. The RFC specifically 
 * cites readability, usability, and consistency as valid reasons for making the 
 * decision of how to treat "reserved" characters.
 *
 * For detailed information, please refer to: https://tools.ietf.org/html/rfc3986#section-2.2
 *
 * To use this class, place it into `app/components/Url.php` then add the following
 * line to your bootstrap file(s), usually `index.php` and `index-test.php`:
 *
 * Yii::$classMap['yii\helpers\Url'] = '@app/components/Url.php';
 */

// Overridden helpers MUST use the `yii\helpers` namespace, not your app namespace!
namespace yii\helpers;

class Url extends BaseUrl
{
    public static function to($url = '', $scheme = false)
    {
        // First, call the parent class's static `to` method.
        $result = parent::to($url, $scheme);

        // Find the position of the question mark.
        $questionMarkPos = strpos($result, '?');

        // If there's a question mark, proceed.
        if ($questionMarkPos !== false) {
            // Find the sequence 'r='.
            $rPos = strpos($result, 'r=', $questionMarkPos);

            // If 'r=' is found, proceed.
            if ($rPos !== false) {
                // Substring from 'r=' to the end of the string.
                $afterR = substr($result, $rPos);

                // Replace '%2F' with '/' but only after 'r=' and before any '&'.
                // First, find the position of the next '&' (if any).
                $ampPos = strpos($afterR, '&');

                if ($ampPos !== false) {
                    // If '&' is found, only replace in the substring before '&'.
                    $beforeAmp = substr($afterR, 0, $ampPos);
                    $afterAmp = substr($afterR, $ampPos);

                    $modified = str_replace('%2F', '/', $beforeAmp) . $afterAmp;
                } else {
                    // If '&' is not found, replace in the entire substring.
                    $modified = str_replace('%2F', '/', $afterR);
                }

                // Reconstruct the result with the modified part.
                $result = substr($result, 0, $rPos) . $modified;
            }
        }

        // Return the modified result.
        return $result;
    }
}
```

